
@{
    ViewBag.Title = "Kit";
}
<header id="header">
    <div class="container">
        <div class="logo"></div>
        <nav id="nav" style="background-color: hotpink;width:100% ; height:1%">
            ">
            <ul>
                <a href="@Url.Action("Index", "Home")"><img src="~/images/Chubby Ladies Logo.jpg" style="width: 10%;height: 2%; float: left; margin-right: 1%" alt="Chubby Ladies"></a>
                <li style="color:white"><a style="color:white" href="~/Home/Index"><b style="color:white">Home</b></a></li>
                <li style="color:white"><a style="color:white" href="~/Home/Kit"><b style="color:white">Our Club Kit</b></a></li>
                @*<li style="color:white"><a style="color:hotpink" href="~/Home/Events"><b style="color:hotpink">Recent Events</b></a></li>
                    <li style="color:white"><a style="color:hotpink" href="~/Home/Member"><b style="color:hotpink">Membership</b></a></li>
                    <li style="color:white"><a style="color:hotpink" href="~/Home/Kit"><b style="color:hotpink">Our Club Kit</b></a></li>
                    <li style="color:white"><a style="color:hotpink" href="~/Home/Rule"><b style="color:hotpink">Rules</b></a></li>
                    <li style="color:white"><a style="color:hotpink" href="~/Home/Contact"><b style="color:hotpink">Contacts</b></a></li>*@
            </ul>
            <div class="opener-holder">
                <a href="#" class="nav-opener"><span></span></a>
            </div>
            <div class="nav-drop">
                <ul>
                    <li class="active visible-sm visible-xs"><a style="color:hotpink" href="@Url.Action("Index", "Home")">Back To Home</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <br></br>
    <br></br>
    <br></br>
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="text-box row-md-offset-1 row-md-10">
                    
                      <p>  We will be launching our Run Club T shirts soon- order yours now info@chubbyladiesrunclub.com. First 100 orders to receive a goodie bag, get yours now! R200, thank you for your support! </p>
                      <p>
                          <b>Collection and courier: </b> 
                      </p>
                      <p>
                          You will need to purchase a courier ticket first and it will be couriered to you within 10 working days from order date. Collection is only for those staying around Johannesburg- an appointment needs to be made.
                      </p>
                    <b><img src="~/images/Club.png" style="width : 60%"></b>
                </div>
            </div>
        </div>
    </section>
