<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chubby Ladies Run Club</title>
    <link rel="icon" type="image/png" href="~/favicons/favicon-16x16.png" sizes="16x16">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    @Styles.Render("~/template/css")
</head>
<body>
 
    @RenderBody()
    @Scripts.Render("~/template/js")
</body>
</html>